
window{
  color: #cccccc;
  font-size: 14px;
}

.dialog{
  color: #cccccc;
  font-size: 14px;
}

label#titre{
  font-size: 20px;
  font-weight: bold;
}

progressbar {
    color: #cccccc;
    font-size: 15px;
}

.view{
  color: #b3b3b3;
}

treeview.view header button {
   color: #DCDCDC;
   background: #21252d;
   font-weight: bold;
}

button{
  background-color: #1a1e24;
  color: #DCDCDC;
}
button#bt_ok {
  background-color: #009a00;
  color: #15181d;
}
button#bt_close{
  background-color: #b30000;
  color: #15181d;
}

.view progressbar{
    background-color: red;
}
